@font-face {
  font-family: 'Proxima';
  font-style: normal;
  font-weight: normal;
  src: url('ProximaNo-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Proxima';
  font-style: normal;
  font-weight: bold;
  src: url('ProximaNova-Semibold.otf') format('truetype');
}

@font-face {
  font-family: 'Proxima';
  font-style: normal;
  font-weight: light;
  src: url('ProximaNova-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Proxima';
  font-style: normal;
  font-weight: 100;
  src: url('ProximaNova-Thin.ttf') format('truetype');
}

$body-bg: white;

$theme-colors: (
  primary: #f47e43,
 	secondary: #818a91,
 	success:#51cf66,
 	warning:orange,
 	danger:red,
  info: #3bc9db,
  light: #f7f7f7,
 	dark: #373a3c
);

$body-color: #373a3c;

$link-color: #f47e43;

$font-family-base: "Proxima";
$headings-font-weight: 100;
$lead-font-weight: 300;



@import 'bootstrap-4.0.0-beta.1';

body {
  max-width: 1700px;
  margin:auto;
  position:relative;

  @include media-breakpoint-down(sm) {
    .section-fill-height {
      min-height: 600px;
      max-height: 600px;
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-flex-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
    }
  }
}

html     {
  height : 100%;
  background-color: #b8c1c3;
  font-weight : normal !important;
}


.bg-dark {
  color: theme-color("secondary");
}

#photos .container     {
  max-width : 940px;
}

@media (max-width: 544px) {
  #photos .container img {
    pointer-events: none;
  }
}

.trello img      {
  cursor : zoom-in;
}

#persone .card     {
  overflow: hidden;
  cursor:pointer;
  padding-top:18px;
  border-color: transparent;

  .card-block {
    position: absolute;
    bottom: 0px;
    padding-left: 10px;
    width: 100%;
    color: white;
    background : linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 70%);
   }
}

.full-screen       {
	background-color: gold;
  z-index : 10000;
  position : fixed;
  top : 0px;
  left : 0px;
  width : 100%;
  overflow-y : scroll;
  height : 100%;
  cursor: zoom-out;

  > .btn-group {
    position: fixed;
    top: 10px;
    right: 1px;
  }

  .dropdown-menu-right {
    right: -90px;
  }

  img {
    width:100%;
  }
}

.modal-lg {
 max-width: 580px;
}

.modal {
  .close {
    opacity: 1;
    background-color: transparent;
    border: none;
    color: white !important;
  }
}

.modal-content {
  background-color: #333;

  p {
    line-height: 200%
  }
}

.modal-header img {
  height: 25px;
}

.modal-backdrop {
  background-color:rgba(0,0,0,0.6);
}

.primoscuro {
  background-color: rgba(0,0,0,0.065);
}

.primoarancio {
  background-image: url('../assets/primolegno/Pattern_primoarancio.png');
}

.primochiaro {
  background-image: url('../assets/primolegno/Pattern_primochiaro.png');
}

.cover-image {
 background-position: center;
    position:relative;
    > *:first-child:before {
      content:'';
      width:100%;
      height:100%;
      display:block;
      position:absolute;
      left:0px;
      top:0px;
      background: linear-gradient(170deg, rgba(35, 21, 87, 0.6) 0%, rgba(68, 16, 122, 0.6) 29%, rgba(255, 19, 27, 0.6) 67%, rgba(255, 248, 0, 0.6) 100%);
      
      background: linear-gradient(-25deg, rgba(244, 126, 67, 0.8) 0%, rgba(24, 12, 6, 0.8) 100%);
    }
}

.index-opacity {
      background: rgba(0, 0, 0, 0.5);
  }

.index-opacity:hover {
      background: rgba(0, 0, 0, 0.7);
  		transform: scale(1.03,1.03);
  }

.index-image {
	background-size: cover;
}


li:hover {
    cursor: pointer;
}

.dropdown-divider {
  border-top: 1px solid #f47e43;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #212224;
}

.nav-link:hover, .nav-link.active {
  border-bottom: 3px solid #f47e43;
}

.nav-link {
  border-bottom: 3px solid transparent;
}


.noscroll {
	overflow:hidden;
}
